<footer class="pt-5 pb-5 pl-3 pr-3">
<!--  <img class="logo" src="assets/images/fd-logo-1.png" />-->
  <div class="social_media mt-2">
    <ion-button><ion-icon name="logo-facebook"></ion-icon></ion-button>
    <ion-button><ion-icon name="logo-instagram"></ion-icon></ion-button>
    <ion-button><ion-icon name="logo-skype"></ion-icon></ion-button>
    <ion-button><ion-icon name="logo-twitter"></ion-icon></ion-button>
    <ion-button><ion-icon name="logo-linkedin"></ion-icon></ion-button>
  </div>
  <p class="font-size-sm text-white">Copyright © 2020 All Rights Reserved by FD Star</p>
</footer>
