<main>
  <header class="position-fixed">
    <div class="d-flex justify-content-between pt-4 pl-2 pr-2">
      <h4 class="m-0 p-0 text-white"><span>Fako</span><span class="font-weight-bold"> Diamond Star</span></h4>
      <ion-icon src="assets/svg/menu-outline.svg" class="text-white font-size-xlg"></ion-icon>
    </div>
  </header>
  <section class="welcome_wrapper pl-3 pr-3">
    <h1 class="text-white pb-2">Welcome to Fako Diamond Star Academy</h1>
    <p class="text-white font-size-sm">Footballers, The professional staff are on hand at all times to give lessons and to Learn</p>
    <div class="container">
      <div class="row">
        <div class="col-6">
          <ion-button class="bg-primary">Get Started</ion-button>
        </div>
        <div class="col-6">
          <ion-button style="--color: #fff;" expand="block" fill="outline">Learn More</ion-button>
        </div>
      </div>
    </div>
  </section>
</main>
