<main>
  <header>
    <div class="d-flex justify-content-between pt-4 pl-2 pr-2">
      <h4 class="m-0 p-0 text-white"><span>Fako</span><span class="font-weight-bold"> Diamond Star</span></h4>
      <ion-icon class="text-white" name="close"></ion-icon>
    </div>
  </header>
  <section class="welcome_wrapper">
    <h3 class="text-white">Welcome to Fako Diamond Star Academy</h3>
    <p class="text-white">Footballers, The professional staff are on hand at all times to give lessons and to Learn</p>
    <div class="container">
      <div class="row">
        <div class="col-6">
          <ion-button class="bg-primary">Get Started</ion-button>
        </div>
        <div class="col-6">
          <ion-button class="text-white" color="primary" expand="block" fill="outline">Learn More</ion-button>
        </div>
      </div>
    </div>
  </section>
</main>
