@mixin backgroundMixin($imageUrl) {
  background-image: linear-gradient(to top, #000, rgba(0, 0, 0, 0.6)), url($imageUrl);
  background-size: cover;
  background-repeat: no-repeat;
}

.logo {
  img {
    width: 32px;
    height: 32px;
  }
}
header {
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  z-index: 10002;
  padding-bottom: 12px;
  background: #000;
  .logo h4 {
    color: var(--ion-color-primary)
  }
  &.dark {
    background: #000;
  }
}

main {
  height: 120vh;
  animation: backgroundChange 16s infinite ease-in-out;
  width: 100%;
  position: relative;
  .welcome_wrapper {
    position: absolute;
    text-align: center;
    bottom: 25vh;
    ion-button {
      --border-radius: 4px;
    }
  }
}

ion-icon.menu:hover {
  color: var(--ion-color-primary) !important;
}

ion-button {
  --color: #fff;
}

@keyframes backgroundChange {
  0%, 100% {
    @include backgroundMixin("src/assets/images/football-bg1.jpg");
  }
  25% {
    @include backgroundMixin("src/assets/images/football-bg2.jpg");
  }
  50% {
    @include backgroundMixin("src/assets/images/football-bg3.jpeg")
  }
  75% {
    @include backgroundMixin("src/assets/images/football-bg4.jpg");
  }
}

@media screen and (min-width: 790px){
  .logo h4 {
    font-size: 2em;
  }
  main {
    .welcome_wrapper {
      bottom: 50vh;
      .onboard_btns {
        width: 300px;
      }
    }
  }
}
