<ion-menu side="end" menuId="main" contentId="main">
  <ion-header>
    <ion-toolbar color="primary" class="text-center">
      <ion-img src="assets/images/fd-logo.png" alt="Fako diamond star"></ion-img>
    </ion-toolbar>
  </ion-header>
  <ion-content id="main" color="dark">
    <nav>
      <ul>
        <li>
          <a (click)="navTo('newsletter')">Newsletter</a>
        </li>
        <li>
          <a (click)="navTo('about')">About</a>
        </li>
        <li>
          <a (click)="navTo('coaches')">Coaches</a>
        </li>
        <li>
          <a (click)="navTo('reviews')">Reviews</a>
        </li>
        <li>
          <a (click)="navTo('team')">The Team</a>
        </li>
        <li>
          <a (click)="navTo('faq')">Faq</a>
        </li>
        <li>
          <a (click)="navTo('about')">About Us</a>
        </li>
      </ul>
    </nav>
  </ion-content>
</ion-menu>
<app-header (menuClick)="menu.open()"></app-header>
<router-outlet></router-outlet>
<div class="position-fixed whatsapp" (click)="chat()">
  <img src="assets/images/whatsapp.png" alt="whatsapp" />
</div>
