img {

}
.profile_wrapper {
  position: relative;
  .name_post_desc {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.4)
  }
  img {
    height: 300px;
  }
}
